{% extends 'user/userlayout.html' %}
{% block content %}

<div class="container mt-5">
    <h2 class="mb-4">orders</h2>

    <table class="table table-bordered table-striped">
       <thead>
            <tr>
                <th>No.</th>
                
                <th>Order Number</th>
                <th>Name</th>
                <th>Date</th>
            
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
             {% set count = 1 %}
            {% for j in area %}
            {% set count = loop.index %}
            <tr>
                <th scope="row">{{count}}</th>
                <td>{{ j[1] }}</td>  <!-- order_number -->
                <td>{{ j[6] }}</td>  <!-- name -->
                <td>{{ j[5].strftime("%d-%m-%y") }}</td>  <!-- date -->
                
                
                <td>
                    <a href="/user/vieworder/{{ j[0] }}" class="btn btn-primary btn-sm">View</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}